In [3]:
percorso_base = '.'
fasce = ['2018-2017', '2016-2015', '2014-2013', '2012-2011', '2010-2009']
categorie = ['PANDA', 'GIRAFFA', 'ELEFANTE', 'ZEBRE', 'SCIMMIA', 'TIGRE MASCHILE', 'TIGRE FEMMINILE', 'LEONE MASCHILE', 'LEONE FEMMINILE']
cinture_per_categorie = {
  'PANDA': 'Bianca',
  'GIRAFFA': 'Bianca-Gialla / Gialla',
  'ELEFANTE': 'Gialla-Arancio / Arancio',
  'ZEBRE': 'Arancio-Verde / Verde',
  'SCIMMIA': 'Verde-Blu / Blu',
  'TIGRE MASCHILE': 'Blu-Marrone / Marrone',
  'TIGRE FEMMINILE': 'Blu-Marrone / Marrone',
  'LEONE MASCHILE': 'Marrone-Nera / Nera',
  'LEONE FEMMINILE': 'Marrone-Nera / Nera'
}
nomi_kata = {
  ('PANDA', 1): 'TAIKYOKU SHODAN',
  ('PANDA', 2): 'TAIKYOKU SHODAN',
  ('PANDA', 3): 'TAIKYOKU SHODAN',
  ('GIRAFFA', 1): 'TAIKYOKU SHODAN',
  ('GIRAFFA', 2): 'TAIKYOKU SHODAN',
  ('GIRAFFA', 3): 'HEIAN SHODAN',
  ('ELEFANTE', 1): 'HEIAN SHODAN',
  ('ELEFANTE', 2): 'HEIAN SHODAN',
  ('ELEFANTE', 3): 'HEIAN NIDAN', 
  ('ZEBRE', 1): 'HEIAN SHODAN',
  ('ZEBRE', 2): 'HEIAN NIDAN',
  ('ZEBRE', 3): 'HEIAN SANDAN', 
  ('SCIMMIA', 1): 'HEIAN NIDAN',
  ('SCIMMIA', 2): 'HEIAN SANDAN',
  ('SCIMMIA', 3): 'HEIAN YONDAN', 
  ('TIGRE MASCHILE', 1): 'HEIAN SANDAN',
  ('TIGRE MASCHILE', 2): 'HEIAN YONDAN',
  ('TIGRE MASCHILE', 3): 'HEIAN GODAN', 
  ('TIGRE FEMMINILE', 1): 'HEIAN SANDAN',
  ('TIGRE FEMMINILE', 2): 'HEIAN YONDAN',
  ('TIGRE FEMMINILE', 3): 'HEIAN GODAN', 
  ('LEONE MASCHILE', 1): 'HEIAN GODAN',
  ('LEONE MASCHILE', 2): 'TEKKI SHODAN',
  ('LEONE MASCHILE', 3): 'BASSAI DAI', 
  ('LEONE FEMMINILE', 1): 'HEIAN GODAN',
  ('LEONE FEMMINILE', 2): 'TEKKI SHODAN',
  ('LEONE FEMMINILE', 3): 'BASSAI DAI'
}

import pandas as pd
import xlwings as xw
import os
import shutil
import random

pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)
pd.set_option('display.max_colwidth', None)

# Carica il file con tutti gli iscritti
singoli = pd.read_parquet('Importati/singoli.parquet')
squadra_A = pd.read_parquet('Importati/squadra_A.parquet')
squadra_B = pd.read_parquet('Importati/squadra_B.parquet')

# Converte tutto in maiuscolo
singoli = singoli.map(lambda x: x.upper() if isinstance(x, str) else x)

# Suddivide le marroni e nere in categorie distinte in base al sesso
singoli.loc[(singoli['CATEGORIA'] == 'TIGRE') & (singoli['SESSO'] == 'MASCHIO'), 'CATEGORIA'] = 'TIGRE MASCHILE'
singoli.loc[(singoli['CATEGORIA'] == 'TIGRE') & (singoli['SESSO'] == 'FEMMINA'), 'CATEGORIA'] = 'TIGRE FEMMINILE'
singoli.loc[(singoli['CATEGORIA'] == 'LEONE') & (singoli['SESSO'] == 'MASCHIO'), 'CATEGORIA'] = 'LEONE MASCHILE'
singoli.loc[(singoli['CATEGORIA'] == 'LEONE') & (singoli['SESSO'] == 'FEMMINA'), 'CATEGORIA'] = 'LEONE FEMMINILE'

# Crea la colonna per fascia d'et√†
singoli['FASCIA'] = ''
singoli.loc[(singoli['ANNO NASCITA'] == 2018) | (singoli['ANNO NASCITA'] == 2017), 'FASCIA'] = '2018-2017'
singoli.loc[(singoli['ANNO NASCITA'] == 2016) | (singoli['ANNO NASCITA'] == 2015), 'FASCIA'] = '2016-2015'
singoli.loc[(singoli['ANNO NASCITA'] == 2014) | (singoli['ANNO NASCITA'] == 2013), 'FASCIA'] = '2014-2013'
singoli.loc[(singoli['ANNO NASCITA'] == 2012) | (singoli['ANNO NASCITA'] == 2011), 'FASCIA'] = '2012-2011'
singoli.loc[(singoli['ANNO NASCITA'] == 2010) | (singoli['ANNO NASCITA'] == 2009), 'FASCIA'] = '2010-2009'

In [4]:
singoli['CINTURA'].unique()

array(['GIALLA/ARANCIO', 'GIALLA', 'ARANCIO/VERDE', 'BIANCA/GIALLA',
       'MARRONE', 'VERDE', 'BIANCA', 'BLU/MARRONE', 'ARANCIO', 'BLU',
       'VERDE/BLU', 'MARRONE/NERA', 'NERA'], dtype=object)

In [5]:
singoli['SOCIETA'].unique()

array(['DOJO SHOTOKAN TREVISO', 'KARATE SACILE',
       'KARATE TREVIGNANO E MONTEBELLUNA', 'KI KAI DOJO CARBONERA',
       'KORIYAMA ASD', 'REN BU KAN MOGLIANO', 'REN BU KAN SPRESIANO',
       'REN BU KAN TREVISO', 'SCUOLA KARATE BADOERE',
       'SCUOLA KARATE CASTELFRANCO VENETO',
       'SCUOLA KARATE GALLIERA VENETA', 'SCUOLA KARATE MIGNAGOLA',
       'SCUOLA KARATE RESANA', 'SHINGHITAI KARATE-DO', 'TSKS'],
      dtype=object)

In [6]:
singoli['FASCIA'].unique()

array(['2016-2015', '2014-2013', '2018-2017', '2010-2009', '2012-2011'],
      dtype=object)

In [7]:
singoli['CATEGORIA'].unique()

array(['ELEFANTE', 'GIRAFFA', 'ZEBRE', 'TIGRE MASCHILE', 'PANDA',
       'TIGRE FEMMINILE', 'SCIMMIA', 'LEONE MASCHILE', 'LEONE FEMMINILE'],
      dtype=object)

In [8]:
singoli.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268 entries, 1 to 268
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   N_ISCRITTO_SOCIETA  268 non-null    int64
 1   SOCIETA             268 non-null    object
 2   COGNOME             268 non-null    object
 3   NOME                268 non-null    object
 4   SESSO               268 non-null    object
 5   ANNO NASCITA        268 non-null    int64
 6   CINTURA             268 non-null    object
 7   CATEGORIA           268 non-null    object
 8   FASCIA              268 non-null    object
dtypes: int64(2), object(7)
memory usage: 19.0+ KB

In [9]:
# Totale iscritti per categoria
totale_per_categoria = singoli.groupby('CATEGORIA')['COGNOME'].count()
totale_per_categoria

CATEGORIA
ELEFANTE           78
GIRAFFA            79
LEONE FEMMINILE     6
LEONE MASCHILE      5
PANDA              20
SCIMMIA            13
TIGRE FEMMINILE    12
TIGRE MASCHILE     15
ZEBRE              40
Name: COGNOME, dtype: int64

In [10]:
# Totale iscritti per fascia
totale_per_fascia = singoli.groupby('FASCIA')['COGNOME'].count()
totale_per_fascia

FASCIA
2010-2009    58
2012-2011    52
2014-2013    71
2016-2015    67
2018-2017    20
Name: COGNOME, dtype: int64

In [11]:
totali = singoli.groupby(['CATEGORIA', 'FASCIA'])['N_ISCRITTO_SOCIETA'].count()
totali

CATEGORIA        FASCIA
ELEFANTE         2010-2009    14
                 2012-2011    16
                 2014-2013    24
                 2016-2015    20
                 2018-2017     4
GIRAFFA          2010-2009     7
                 2012-2011     9
                 2014-2013    21
                 2016-2015    30
                 2018-2017    12
LEONE FEMMINILE  2010-2009     6
LEONE MASCHILE   2010-2009     5
PANDA            2010-2009     3
                 2012-2011     1
                 2014-2013     6
                 2016-2015     6
                 2018-2017     4
SCIMMIA          2010-2009     1
                 2012-2011     5
                 2014-2013     6
                 2016-2015     1
TIGRE FEMMINILE  2010-2009     8
                 2012-2011     3
                 2014-2013     1
TIGRE MASCHILE   2010-2009     8
                 2012-2011     6
                 2014-2013     1
ZEBRE            2010-2009     6
                 2012-2011    12
                 2014-2013    12
                 2016-2015    10
Name: N_ISCRITTO_SOCIETA, dtype: int64

In [12]:
# Prepara le cartelle che conterranno i tabelloni generati. Se esistenti vengono cancellate e ricreate
def ricrea_cartella_tabelloni():
    if os.path.exists(f'{percorso_base}/Tabelloni generati singoli'):
        shutil.rmtree(f'{percorso_base}/Tabelloni generati singoli')
    os.makedirs(f'{percorso_base}/Tabelloni generati singoli')   
    os.makedirs(f'{percorso_base}/Tabelloni generati singoli/PDF')   
    os.makedirs(f'{percorso_base}/Tabelloni generati singoli/Excel')   
    os.makedirs(f'{percorso_base}/Tabelloni generati singoli/parquet')  

# Restituisce gli atleti che partecipano a una determinata fascia e categoria. Se gli atleti sono dispari restituisce anche l'atleta appartenente 
# alla societ√† con il maggior numero di iscritti per quella fascia/categoria
def iscritti_per_tabellone(df, fascia, categoria, tipo_tabellone):
    iscritti = df[(df['FASCIA'] == fascia) & (df['CATEGORIA'] == categoria)].copy()
    n_iscritti = len(iscritti)
    atleta_singolo = None
    if tipo_tabellone == 'BANDIERINE':
        if n_iscritti % 2 == 1:
            # Se sono DISPARI, sceglie l'atleta che non far√† il primo incontro fra quelli della societ√† col maggior numero di atleti iscritti
            soc_maggiori_iscritti = iscritti.groupby(['SOCIETA'])[['SOCIETA']].value_counts().idxmax()
            id_atleta_singolo = iscritti[iscritti['SOCIETA'] == soc_maggiori_iscritti].index[0]
            atleta_singolo = iscritti.loc[id_atleta_singolo]
            iscritti.drop(id_atleta_singolo, inplace=True)

        iscritti['ISCRITTI_PER_SOCIETA'] = iscritti.groupby('SOCIETA')['SOCIETA'].transform('count')
        iscritti = iscritti.sort_values(by='ISCRITTI_PER_SOCIETA', ascending=False)
    
    return iscritti, atleta_singolo

# Modifiche manuali ai tabelloni: scambia di posto due iscritti in un tabellone
def scambia_iscritti(tab, n_incontro_1, cintura_r_b_1, n_incontro_2, cintura_r_b_2):
    # Crea maschere per le righe da scambiare
    mask1 = (tab['N_INCONTRO'] == n_incontro_1) & (tab['CINTURA'] == cintura_r_b_1)
    mask2 = (tab['N_INCONTRO'] == n_incontro_2) & (tab['CINTURA'] == cintura_r_b_2)

    # Verifica se entrambe le righe esistono
    if mask1.any() and mask2.any():
        # Copia temporaneamente una delle righe
        riga_temp = tab.loc[mask1, ['SOCIETA', 'COGNOME', 'NOME']].copy()

        # Scambia le righe
        tab.loc[mask1, ['SOCIETA', 'COGNOME', 'NOME']] = tab.loc[mask2, ['SOCIETA', 'COGNOME', 'NOME']].values
        tab.loc[mask2, ['SOCIETA', 'COGNOME', 'NOME']] = riga_temp.values

    return tab

# Modifiche manuali ai tabelloni: elimina un iscritto da un tabellone
def elimina_iscritto(tab, n_incontro, cintura_r_b):
    # Crea maschera per trova l'atleta
    mask = (tab['N_INCONTRO'] == n_incontro) & (tab['CINTURA'] == cintura_r_b)  

    # Verifica se la riga esiste
    if mask.any():
        tab = tab.drop(tab[mask].index)
    
    return tab

# Carica un tabellone dalla raccolta di file parquet
def carica_tabellone(n_tab):
    nome_file = None
    tab = None
    for file in os.listdir(f'{percorso_base}/Tabelloni generati/parquet'):
        if file.startswith(str(n_tab).zfill(2)):
            nome_file = file
            break
    if nome_file:
        path = f'{percorso_base}/Tabelloni generati/parquet/{nome_file}'
        tab = pd.read_parquet(path)
    return tab

# Crea il tabellone in excel e lo salva in pdf e parquet
def salva_tabellone_punteggio(tab, n_tab, n_prova):
    fascia = tab['FASCIA'].iloc[0]
    categoria = tab['CATEGORIA'].iloc[0]
    tab_vuoto = f'{percorso_base}/Tabellone vuoto.xlsx'
    foglio = 'TAB.SINGOLI'
    nome_file = f'{str(n_tab).zfill(2)}) FASCIA {fascia} - {categoria} - Prova n.{n_prova}'
    riga_inizio_tabella = 8
    riga_fine_tabella = 77
    
    app = xw.App(add_book=False, visible=False)
    wb = app.books.open(tab_vuoto)
    sheet = wb.sheets[foglio]  
    sheet['C1'].value = fascia
    sheet['E1'].value = f'{categoria} ({cinture_per_categorie[categoria]})'
    sheet[f'A{riga_inizio_tabella}'].value = tab.drop(columns=['N_PROVA', 'FASCIA', 'CATEGORIA']).values
    sheet['K1'].value = n_tab
    sheet['C3'].value = n_prova
    
    # Elimina le righe vuote alla fine dopo avere inserito gli atleti
    prima_riga_vuota = riga_inizio_tabella
    for riga in range(riga_inizio_tabella, riga_fine_tabella):
        if (not sheet[f'D{riga}'].value) and (sheet[f'B{riga}'].value == 'R'):
            prima_riga_vuota = riga
            break
    rg = sheet.range(f'{prima_riga_vuota}:{riga_fine_tabella}')
    rg.delete(shift='up')
    rg = sheet.range(f'{prima_riga_vuota-1}:{prima_riga_vuota-1}')

    sheet.to_pdf(f'{percorso_base}/Tabelloni generati singoli/PDF/{nome_file}.pdf')
    wb.save(f'{percorso_base}/Tabelloni generati singoli/Excel/{nome_file}.xlsx')
    tab.to_parquet(f'{percorso_base}/Tabelloni generati singoli/parquet/{nome_file}.parquet')
    wb.close()
    app.quit()

def genera_tabelloni_punteggio(df_iscritti):
    ricrea_cartella_tabelloni() # Crea la struttura delle cartelle per i tabelloni generati
    tot_tabelloni = len(fasce) * len(categorie)
    n_tab = 1 # Variabile che serve solo durante la generazione per vedere quale tabellone sta elaborando, anche se poi non verr√† salvato perch√© vuoto
    n_tab_salvati = 1 # Variabile che corrisponde al numero di tabellone 
    for fascia in fasce:
        for categoria in categorie:
            print(f'Tabellone n.{n_tab} di {tot_tabelloni}: Fascia: {fascia}, Categoria: {categoria}')
            iscritti, atleta_singolo = iscritti_per_tabellone(df_iscritti, fascia, categoria, tipo_tabellone='PUNTEGGIO')
            tot_incontri = len(iscritti) 
            tab = pd.DataFrame(columns=['N_INCONTRO', 'N_PROVA', 'CINTURA_INCONTRO', 'SOCIETA', 'COGNOME', 'NOME', 'NOME_KATA', 'PUNTEGGIO_1', 'PUNTEGGIO_2', 'PUNTEGGIO_3', 'PUNTEGGIO_4', 'PUNTEGGIO_5', 'PUNTEGGIO_TOT', 'FASCIA', 'CATEGORIA', 'ANNO NASCITA', 'CINTURA'])
            n_incontro = 0
            if (not iscritti.empty):
                iscritti.sample(frac=1).sample(frac=1).sample(frac=1).sample(frac=1).sample(frac=1)
                for n_incontro in range(0, tot_incontri):
                    atleta1 = iscritti.iloc[n_incontro]                       
                    # Aggiunge l'atleta al tabellone 
                    for n_prova in range(1,4):
                        tab.loc[len(tab)] = [n_incontro+1, n_prova, '-', atleta1['SOCIETA'], atleta1['COGNOME'], atleta1['NOME'], nomi_kata[(categoria, n_prova)], '', '', '', '', '', '', fascia, categoria, atleta1['ANNO NASCITA'], atleta1['CINTURA']]
                for n_prova in range(1,4):
                    tab_prova = tab[tab['N_PROVA'] == n_prova].copy()
                    salva_tabellone_punteggio(tab_prova, n_tab_salvati, n_prova)
                        
                n_tab_salvati += 1
            n_tab += 1

### GENERA TABELLONI

In [13]:
genera_tabelloni_punteggio(singoli)

Tabellone n.1 di 45: Fascia: 2018-2017, Categoria: PANDA
Tabellone n.2 di 45: Fascia: 2018-2017, Categoria: GIRAFFA
Tabellone n.3 di 45: Fascia: 2018-2017, Categoria: ELEFANTE
Tabellone n.4 di 45: Fascia: 2018-2017, Categoria: ZEBRE
Tabellone n.5 di 45: Fascia: 2018-2017, Categoria: SCIMMIA
Tabellone n.6 di 45: Fascia: 2018-2017, Categoria: TIGRE MASCHILE
Tabellone n.7 di 45: Fascia: 2018-2017, Categoria: TIGRE FEMMINILE
Tabellone n.8 di 45: Fascia: 2018-2017, Categoria: LEONE MASCHILE
Tabellone n.9 di 45: Fascia: 2018-2017, Categoria: LEONE FEMMINILE
Tabellone n.10 di 45: Fascia: 2016-2015, Categoria: PANDA
Tabellone n.11 di 45: Fascia: 2016-2015, Categoria: GIRAFFA
Tabellone n.12 di 45: Fascia: 2016-2015, Categoria: ELEFANTE
Tabellone n.13 di 45: Fascia: 2016-2015, Categoria: ZEBRE
Tabellone n.14 di 45: Fascia: 2016-2015, Categoria: SCIMMIA
Tabellone n.15 di 45: Fascia: 2016-2015, Categoria: TIGRE MASCHILE
Tabellone n.16 di 45: Fascia: 2016-2015, Categoria: TIGRE FEMMINILE
Tabellone n.17 di 45: Fascia: 2016-2015, Categoria: LEONE MASCHILE
Tabellone n.18 di 45: Fascia: 2016-2015, Categoria: LEONE FEMMINILE
Tabellone n.19 di 45: Fascia: 2014-2013, Categoria: PANDA
Tabellone n.20 di 45: Fascia: 2014-2013, Categoria: GIRAFFA
Tabellone n.21 di 45: Fascia: 2014-2013, Categoria: ELEFANTE
Tabellone n.22 di 45: Fascia: 2014-2013, Categoria: ZEBRE
Tabellone n.23 di 45: Fascia: 2014-2013, Categoria: SCIMMIA
Tabellone n.24 di 45: Fascia: 2014-2013, Categoria: TIGRE MASCHILE
Tabellone n.25 di 45: Fascia: 2014-2013, Categoria: TIGRE FEMMINILE
Tabellone n.26 di 45: Fascia: 2014-2013, Categoria: LEONE MASCHILE
Tabellone n.27 di 45: Fascia: 2014-2013, Categoria: LEONE FEMMINILE
Tabellone n.28 di 45: Fascia: 2012-2011, Categoria: PANDA
Tabellone n.29 di 45: Fascia: 2012-2011, Categoria: GIRAFFA
Tabellone n.30 di 45: Fascia: 2012-2011, Categoria: ELEFANTE
Tabellone n.31 di 45: Fascia: 2012-2011, Categoria: ZEBRE
Tabellone n.32 di 45: Fascia: 2012-2011, Categoria: SCIMMIA
Tabellone n.33 di 45: Fascia: 2012-2011, Categoria: TIGRE MASCHILE
Tabellone n.34 di 45: Fascia: 2012-2011, Categoria: TIGRE FEMMINILE
Tabellone n.35 di 45: Fascia: 2012-2011, Categoria: LEONE MASCHILE
Tabellone n.36 di 45: Fascia: 2012-2011, Categoria: LEONE FEMMINILE
Tabellone n.37 di 45: Fascia: 2010-2009, Categoria: PANDA
Tabellone n.38 di 45: Fascia: 2010-2009, Categoria: GIRAFFA
Tabellone n.39 di 45: Fascia: 2010-2009, Categoria: ELEFANTE
Tabellone n.40 di 45: Fascia: 2010-2009, Categoria: ZEBRE
Tabellone n.41 di 45: Fascia: 2010-2009, Categoria: SCIMMIA
Tabellone n.42 di 45: Fascia: 2010-2009, Categoria: TIGRE MASCHILE
Tabellone n.43 di 45: Fascia: 2010-2009, Categoria: TIGRE FEMMINILE
Tabellone n.44 di 45: Fascia: 2010-2009, Categoria: LEONE MASCHILE
Tabellone n.45 di 45: Fascia: 2010-2009, Categoria: LEONE FEMMINILE

### Modifiche manuali

n_tabellone = 1

tab = carica_tabellone(n_tabellone)
tab_prima = tab.copy()

#tab = scambia_iscritti(tab, 2, 'B', 3, 'R')
tab = elimina_iscritto(tab, 3, 'R')

salva_tabellone(tab, n_tabellone)
tab_dopo = tab.copy()

##### PRIMA

tab_prima

##### DOPO

tab_dopo